

.row1{
  background: black;
  width: 200px;
  border-radius: 10px;
  position: relative;
  padding-right: 20px;
}

.gema{
  margin-top: 40px;
  padding-top: 50px;
}

.pics{
  text-align: right;
}

.panel{
  margin-top: 40px;
  background: #f2f2f2;
  width: 30rem;
  height: 25rem;
}

.panel h3{
  font-weight: 400;
  font-style: normal;

}
