body{
  background: #e6e6e6;
}


.row1{
  background: black;
  width: 200px;
  border-radius: 10px;
  position: relative;
  padding-right: 20px;
}

.potraits{
  margin-top: 0px;
  padding-top: 50px;
}

.pics{
  text-align: right;
  font-weight:bolder;
}

.panel{
  margin-top: 60px;
  background: #e6e6e6;
  width: 30rem;
  height: 25rem;
}

.panel h3{
  font-weight: 400;
  font-style: normal;

}

.panel1{
  margin-top: 150px;
}

p{
  color: red;
  text-align: right;
  margin-right: 50px;
}

#putcenter{
  text-align: center;
}
