.carousel {
  width:100vw;
  height:30vw;
  margin: relative;
}
.carousel-inner img {
  margin: auto;
  width: 100vw;
  height: 30vw;

}

.footcontainer{background-color:#ffff; }

.cntr{
	width: 60vw;
	height:auto;
	margin-top:1vw;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: auto;
}
.card-deck{margin: 10vw;}

h1{
  color:#ffd700;
  text-align: center;
  margin-top: 90px;

}

.glyphicon{
  opacity: 0.2;
}

.glyphicon:hover{
  background: black;
  opacity: 1;
}

#midtext{
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
}

.carousel ol{
  opacity: 0;
}

.carousel-caption{
top: 20%;
transform: translateY(-20%);
transform: translateX(-30%);

}

h4{
  font-size: 25px;
  font-family: 'Otomanopee One', sans-serif;
  font-weight: lighter;
}

footer{
  font-size: 12px;
  text-align: center;
  margin-top: 30px;

}

.dropdown:hover .dropdown-menu{
      display: block;
      background: #93939393;
  }

.dropdown-menu:hover{
    margin-top: 0;
    display: block;
}


#rig {

    max-width:90%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    /* background-color:#000000; */
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}

#belowSocial_Links:hover{
  color: red;
  font-size: 30px;
}
