<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/about.css"%}"/>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
      <h1>ABOUT</h1>
          <p>THERE SO MANY WAYS TO TELL THE WORLD WE LIVE
      VINNEOGRAPHY HAVE ALWAYS DECIDED TO DO IT
      WITH THEIR PHOTOGRAPHY.
      AN ART THAT RESPECTS TECHNIQUE, BUT THAT STARTS
      FROM EMOTIONS.
      EVERY SINGLE SHOT WETHER ITS A POTRAIT OF
      CHARACTER OR A PHOTO FOR ADVERTISING
      ITS A STORY TO READ, INTERPRET, TO LIVE & INTRRENALISE.
      A STORY WHERE THE COLORS, THE EXPRESSIVENESS OF
      THE FACES, THE SCIENCE OF LIGHT & THE NUANCES
      WHILE REPLACING WORDS, THEY HAVE THE SAME
      COMMUNICATIVE POWER.
      PHOTOGRAPHY FOR
      <span id="under" style="color:green;">VINNEOGRAPHY IS NOT JUST A JOB IS MUCH MORE OF A PASSION</span>
    </p>
        </div>
        <img src="{% static "images/vinyAbout__-.jpg" %}" alt="">
      </div>



  </body>
</html>
