<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">

  <title>Black & White</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div id="title-box" class="panel">
        <h3>Black & white</h3>
      </div>
      <div class="" style="content-align:left;">
        <img src="{% static "images/bwGema-1.jpg"%}" alt="No image">
        <img src="{% static "images/bwGema-3.jpg" %}" alt="">
        <img src="{% static "images/bwNelysa__-.jpg" %}" alt="">

      </div>


    </div>

  </body>
</html>
