<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">

  <title>Black & White</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/base.css"%}">
  </head>

  <body>
    <header>
      <legend style="background:#747574;">
        <a style="font-size:25px; color:#d4af37;" href="{% url "home" %}">VINNEOGRAPHY:</a>

      </legend>
    </header>

    <div class="container">

      <div  class="panel" style="position:absolute;">
        <ul style="text-align:justify;">
          <li><a style="color:#D4AF37;" href="#">Vincent</a> -Photographer</li>
          <li><a style="color:#D4AF37;" href="#">Andrew m</a> -Model</li>
        </ul>

      </div>
      <div class="pics" >

        <a href="#"><img src="{% static "images/bwkisha_-1.jpg" %}" alt="" style="width:30vw;"></a>
        <a href="#"><img src="{% static "images/bwKisha__-2.jpg" %}" alt="" style="width:30vw;"></a>


        <div class="panel1" style="position:absolute;">
          <ul style="text-align:justify;">
            <li><a style="color:#D4AF37;" href="#">Vincent</a> -Photographer</li>
            <li><a style="color:#D4AF37;" href="#">Andrew m</a> -Model</li>
            <p style="font-size:80px;">art of Black and white</p>
          </ul>

        </div>
        <div class="gema">
          <a  href="#"><img src="{% static "images/bwStevie___-.jpg"%}" alt="No image" style="width:60vw"></a>

      </div>
        </div>

      </div>


      </div>


    </div>

  </body>
</html>
