<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">

  <title>Black & White</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/bw.css"%}">
  </head>

  <body>
    <header>
      <legend style="background:#747574;">
        <a style="font-size:25px; color:#d4af37;" href="{% url "home" %}">VINNEOGRAPHY:</a>

      </legend>
    </header>

    <div class="container">

        <div class="pics" >
          <h3><strong>the art of Black & white</strong></h3>
        <a href="#"><img src="{% static "images/bwkisha_-1.jpg" %}" alt="" style="width:30vw;"></a>
        <a href="#"><img src="{% static "images/bwKisha__-2.jpg" %}" alt="" style="width:30vw;"></a>


        <div class="panel1" style="position:absolute;">
          <ul style="text-align:justify;list-style-type:none;">
            <li><a style="color:#D4AF37;" href="#">Vincent</a> -Photographer</li>
            <li id="putcenter"><a style="color:#D4AF37;" href="#">Theme</a></li>
            <li id="putcenter"> -love&Family , Potraits</li>
          </ul>

        </div>
        <div class="potraits">
          <h4>Themed Potraits</h4>
          <a  href="#"><img src="{% static "images/potraitChibs__-.jpg"%}" alt="No image" style="width:30vw"></a>
          <a href="#"> <img src="{% static "images/family___-.jpg"%}" alt="" style="width:26vw"> </a>

      </div>
        </div>
      </div>


  </body>
</html>
