<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vinneography</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>


    <script src="https://unpkg.com/scrollreveal@4"></script>
      <link rel="stylesheet" href='{% static "css/home.css" %}'/>
      <link rel="stylesheet" href='{% static "css/popup.css" %}'/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
      ScrollReveal({ duration: 1000 })
    </script>

    <!-- google analytics for tracking web activies -->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GH45C82TML"></script>

    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'G-GH45C82TML');
    </script>


  </head>
  <body>

<!-- creatiating a navigation bar -->
<nav class="navbar navbar-default  " style="opacity:1;">
<div class="container">
  <div class="navbar-header">

<!-- a code creatiating humburger menu after resizing the window for better mobile view -->
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  <!-- code for the humburger icon -->
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>

    <a class="navbar-brand" href="#"class="img-responsive"> <img src='{% static "images/Logo.jpg" %}' class="rounded" alt="Cant load image", style="width:2vw;"></a>
  </div>

<!-- anything under  class="collapse navbar-collapse goes inside a humburger -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class=""><a href="#Home">Home<span class="sr-only">(current)</span></a></li>
    <li><a href="about">About</a></li>
    <li><a href="#Booking">Booking</a></li>

    <li class="dropdown">
      <!-- an achor tag creating mabuya dropdown      -->
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Mabuya</a>
      <ul class="dropdown-menu">
        <!-- mabuya dropdown menu items -->
        <li><a href="{% url "products"%}">Products</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Qoutes</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Mabuya Daily</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <!-- Gallery dropdown menu -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Gallery</a>
        <ul class="dropdown-menu">
          <!-- Gallery dropdown menu items -->
          <!-- <li><a href="#">Culture</a></li> -->
          <!-- <li role="separator" class="divider"></li> -->
          <!-- <li><a href="#">Food</a></li> -->
          <!-- <li role="separator" class="divider"></li> -->
          <!-- <li><a href="#">Nature</a></li> -->
          <!-- <li role="separator" class="divider"></li> -->
          <li><a href="{% url "indoor"%}">In-door</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url "outdoor"%}">Out-door</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Life Style</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url "bw" %}">Black & White</a></li>
        </ul>
    </li>
  </ul>

<!-- putting social media icon at the right side of a navbar -->
  <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="#">contact us:</a></li>
    <li><a class="navbar-brand" href="https://www.instagram.com/vinneography/"class="img-responsive"> <img src='{% static "images/insta2.png" %}' class="rounded" alt="Cant load image", style="width:1.5vw;"></a></li>
    <li><a class="navbar-brand" href="https://www.facebook.com/Vinneography"class="img-responsive"> <img src='{% static "images/facebook.png" %}' class="rounded" alt="Cant load image", style="width:1.5vw;"></a></li>
    <li><a class="navbar-brand" href="https://twitter.com/VinnyPallingo"class="img-responsive"> <img src='{% static "images/twitter.png" %}' class="rounded" alt="Cant load image", style="width:1.5vw;"></a></li>
      </ul>
  </div>
</div>
</div>
</nav>
<h1 id="vinnyHeader"><strong><em>Vinneograephy</em></strong></h1>

<!-- creating a slide show at home screen with the use of carousel slide-->



    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="overflow:hidden">
      <!-- Indicators  dots-->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#mmyCarousel" data-slide-to="5"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
        <a href="{% url "outdoor" %}"><img src="{% static "images/marian_SlideShow.jpg"%}" alt=""></a>
          <div class="carousel-caption">
            <h4>Marian-Sunflower</h4>

          </div>

        </div>

        <div class="item">
          <a href="#"><img src="{% static "images/mtawaSLides.jpg"%}" alt=""></a>
          <div class="carousel-caption">
            <h4>Udom Hills</h4>

          </div>
        </div>

        <div class="item">
          <a href="#"><img src="{% static "images/Garage_SLideshow.jpg" %}" alt=""></a>
          <div class="carousel-caption">
            <h4>Garage</h4>
          </div>
        </div>

        <div class="item">
          <a href="#"><img src="{% static "images/triceslide.jpg"%}" alt=""></a>
          <div class="carousel-caption">
            <h4>tRICE INDOOR</h4>
          </div>
        </div>

        <div class="item">
          <a href="#"><img src="{% static "images/mode(1).jpg"%}" alt=""></a>
          <div class="carousel-caption">
            <h4>Dodoma-Sunset</h4>
          </div>
        </div>


        <div class="item">
          <a href="#"><img src="{% static "images/Nelysa_Slideshow.jpg"%}" alt=""></a>
          <div class="carousel-caption">
            <h4>Nelysa_Slideshow</h4>

          </div>

        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

<!-- photos with grid system to control various screen view -->

<div class="jumbotron">


  <div class="container">
    <!-- <h3 id="midtext"><strong><em>Gallery Preview</em></strong></h3> -->
    <div class="heading-top" style="text-align:center; font-size:16px;">
      the art
      <h3 id="midtext">Indoor , outdoor to Black & white</h3>
    </div>

      </div>



  <ul id="rig">
    <li>

        <div class="rig-cell">
          <img id="myImg" class="rig-img" src="{% static "images/nelysa5__-.jpg"%}">
          <!-- <span class="rig-overlay"></span> -->
          <span class="rig-text">Lorem Ipsum Dolor</span>
            </div>

          <!-- The Modal popup image -->
          <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
          </div>
            </li>



    <li>
        <div class="rig-cell" href="#">
            <img id="myImg2" class="rig-img" src="{% static "images/trice_Frozen_-.jpg"%}">
            <!-- <span class="rig-overlay"></span> -->
            <span class="rig-text">Consectetur Adipiscing</span>
        </div>

        <div id="myModal2" class="modal2">
          <span class="close2">&times;</span>
          <img class="modal-content2" id="img02">
          <div id="caption2"></div>
        </div>
    </li>


    <li>
        <div class="rig-cell" href="#">
            <img id="myImg3" class="rig-img" src="{% static "images/trice4___-.jpg"%}">
            <!-- <span class="rig-overlay"></span> -->
            <span class="rig-text">Vivamus ut Felis</span>
        </div>
        <div id="myModal3" class="modal3">
          <span class="close3">&times;</span>
          <img class="modal-content3" id="img03">
          <div id="caption3"></div>
        </div>
    </li>


    <li>
        <div class="rig-cell" href="#">
            <img id="myImg4" class="rig-img" src="{% static "images/kisha_pizeria__-3.jpg"%}">
            <!-- <span class="rig-overlay"></span> -->
            <span class="rig-text">Curabitur tempus</span>
        </div>

        <div id="myModal4" class="modal4">
          <span class="close4">&times;</span>
          <img class="modal-content4" id="img04">
          <div id="caption4"></div>
        </div>
    </li>

</ul>
</div>







<legend>Dodoma | Tanzania</legend>

<div id="belowSocial_Links" align="center">
  <h4 style="font-size:12px;">
    <a href="https://www.instagram.com/vinneography/">instagram  |  </a>
    <a href="https://twitter.com/VinnyPallingo">twitter  |  </a>
    <a href="https://www.facebook.com/Vinneography">facebook</a>
  </h4>
  </div>

  <footer><strong><em>Vinneography (c) 2021 Copyright Holder All Rights Reserved.</em></strong></footer>

<script src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
    <script src='{% static "java/home.js" %}'></script>
    <script src='{% static "java/popup.js" %}'></script>
</html>
