<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Indoor Photos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/indoor.css" %}">
    <script src= "{% static "java/indoor.js" %}" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>

    <legend>
      <a href="{% url "home"%}">Back</a>
    </legend>

    <div class="container">
            <div class="col-lg-4 col-xs-6">
            <img src="{% static "images/trice3___-.jpg"%}" alt="" style="width:25vw;">
            <h3 id="it">colored indoor</h3>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
              <li>sed do eiusmod tempor incididunt ut labore et dolore</li>
              <li>magna aliqua. Ut enim ad minim veniam, quis nostrud </li>
              <li>exercitation ullamco laboris nisi ut aliquip exea commodo</li>
            </ul>
            </div>


        <div class="col-lg-4 col-xs-6">
            <img src="{% static "images/model_MakeUp2___-.jpg"%}" alt="" style="width:25vw;">
            <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing</strong></p>
            <p><strong>sed do eiusmod tempor incididunt ut labore et</strong></p>
            <p><strong>magna aliqua. Ut enim ad minim veniam, quis</strong></p>
            <p><strong>exercitation ullamco laboris nisi ut aliquip exea</strong></p>
        </div>

        <div class="col-lg-4 col-xs-6">
            <img src="{% static "images/IMG_0121.JPG"%}" alt="" style="width:25vw;">
            <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing</strong></p>
            <p><strong>sed do eiusmod tempor incididunt ut labore et</strong></p>
            <p><strong>magna aliqua. Ut enim ad minim veniam, quis</strong></p>
            <p><strong>exercitation ullamco laboris nisi ut aliquip exea</strong></p>

        </div>
        <p></p>
        <p></p>
        <div class="col-lg-4 col-xs-6">
            <img src="{% static "images/bwBabuu__-.jpg"%}" alt="" style="width:28vw;">
        </div>

        <div class="col-lg-6 col-xs-6">
        <div class="jumbotron">
          <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing</strong></p>
          <p><strong>sed do eiusmod tempor incididunt ut labore et</strong></p>
          <p><strong>magna aliqua. Ut enim ad minim veniam, quis</strong></p>
          <p><strong>exercitation ullamco laboris nisi ut aliquip exea</strong></p>
        </div>

        </div>



    </div>




<legend></legend>
  </body>
</html>
