<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Out_Door</title>
    <link rel="stylesheet" href="{% static "css/outdoor.css"%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <legend style="background:#1d1d1d;">
        <a style="font-size:25px; color:#ffd700;" href="{% url "home" %}">VINNEOGRAPHY:</a>

      </legend>





  <div class="container">

    <div class="outdoor">
        <h3 style="text-align:center;">Science of Light</h3>

    <img src="{% static "images/marian__-.jpg"%}" alt="" style="width:30vw;">

    <img src="{% static "images/NelysaFlower__-.jpg"%}" alt=""  style="width:53vw;">

    <img id="kisha" src="{% static "images/kisha_pizeria__-3.jpg"%}" alt="" style="height:30vw">

    <a href="#"> <img src="{% static "images/trice_-.jpg"%}" alt="" style="width:38vw;"></a>



  </div>

</div>


  </body>
</html>
