 <!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Out_Door</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/outdoor.css"%}">
    <link rel="stylesheet" href="{% static "css/popup.css"%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src= "{% static "java/outdoor.js"%}" type="text/javascript"></script>
    <script src="{% static "java/outdoor2.js"%}"></script>

    <!-- google analytics for tracking web activies -->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GH45C82TML"></script>

    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'G-GH45C82TML');
    </script>

  </head>

  <body>
    <header>
      <legend style="background:#008C8C;">
        <a id="vin" style="font-size:25px; color:#ffd700;" href="{% url "home" %}">VINNEOGRAPHY:</a>
      </legend>



      <!--start the sliders-->
      <div style="padding-top:120px padding-bottom:100px;">
          <div id="thumbnail-slider">
              <div class="inner">
                  <ul>
                      <li>
                          <a class="thumb"href="{% static "images/kisha_-.jpg"%}"></a>
                      </li>
                      <li>
                          <a class="thumb" href="{% static "images/marian__-.jpg"%}"></a>
                      </li>
                      <li>
                          <a class="thumb" href="{% static "images/NelysaFlower__-.jpg"%}"></a>
                      </li>
                      <li>
                          <a class="thumb" href="{% static "images/trice2__-.jpg"%}"></a>
                      </li>
                      <li>
                          <a class="thumb" href="{% static "images/mvumiBall___-1.jpg"%}"></a>
                      </li>
                      <li>
                          <a class="thumb" href="{% static "images/kisha_pizeria__-3.jpg"%}"></a>
                      </li>
                      <li>
                          <a class="thumb" href="{% static "images/Nelysa__-2.jpg"%}"></a>
                      </li>
                      <li>
                          <a class="thumb" href="{% static "images/trice_-.jpg"%}"></a>
                      </li>
                      <li>
                          <a class="thumb" href="{% static "images/Boteng__-.jpg"%}"></a>
                      </li>
                      <li>
                          <a class="thumb" href="{% static "images/model_sunset2__-.jpg"%}"></a>
                      </li>
                      <li>
                          <a class="thumb" href="{% static "images/Sophie__-.jpg"%}"></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>




          <div class="jumbotron" style="padding-top:100px;background:#008C8C">
              <!-- <div class="container"> -->


                <img id="myImg" src="{% static "images/msry_-.jpg"%}" alt="" style="width:30vw;float: left;">

                <div id="myModal" class="modal">
                  <span class="close">&times;</span>
                  <img class="modal-content" id="img01">
                  <div id="caption"></div>
                </div>


        <img id="myImg2" src="{% static "images/bike___-.jpg"%}" alt="" style="width:32vw;">

        <div id="myModal2" class="modal2">
          <span class="close2">&times;</span>
          <img class="modal-content2" id="img02">
          <div id="caption2"></div>
        </div>



          <img id="myImg3" src="{% static "images/mvumiBall__-3.jpg"%}" alt="" style="width:32vw;">

          <div id="myModal3" class="modal2">
          <span class="close3">&times;</span>
          <img class="modal-content3" id="img03">
          <div id="caption3"></div>
          </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur.Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
    </div>






<legend>
Dodoma | Tanzania

</legend>

          <div align="center">
            <h4 style="font-size:12px;"> follow us:
              <a href="https://www.instagram.com/vinneography/">instagram  |  </a>
              <a href="https://twitter.com/VinnyPallingo">twitter  |  </a>
              <a href="https://www.facebook.com/Vinneography">facebook</a>
            </h4>

            </div>
  </body>
    <script src='{% static "java/popup.js" %}'></script>
</html>
